.app{
    background-color: rgba(56, 86, 186, 0.943);
    color: white;
}

h1{
    margin-left: 330px;
    padding-top: 50px;
    font-size: 30px;
}

.descripcion{
    margin-left: 350px;
    padding-top: 30px;
    font-size: 30px;
}

