<div class="container app">
    <div class="card app2" >
        <div class="card-body" >
            <div class="row">
                <div class="col-md-12 mt-4 app">
                    <h1 class="text-center" style="text-align: center; font-size: 50px;">Dinamic Inventory</h1>
                </div>
                <div class="col-md-4">
                    <app-product></app-product>
                </div>
                <div class="col-md-4">
                    
                </div>
            </div>
        </div>
    </div>    
</div>
 <app-list></app-list>
            